@font-face {
  font-family: 나눔스퀘어라운드;
  src: url('NanumSquareRoundB.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 나눔스퀘어라운드;
  src: url("NanumSquareRoundEB.ttf") format("truetype");
  font-weight: bold;
}